{% extends "base.html" %}
{% block header %}
  <h1>The Anti-Audiophile Music Appreciation Stack.</h1>
  <p>My systems so janky it would make Fantano kill himself.</p>
{% endblock %}

{% block content %}
  <h2>Working with what you have.</h2>
  <p>So my desktop is kind of all over the place.  Being a student on a shoestring budget I don't exactly
  have money for fancy things like RAM to get my tower running, or internet...  I get by with what I have.
  And one thing I do have is a 5G hotspot, a Lenovo x130e running Arch Linux, a pretty high level knowledge
  of how to get services running and exposed to the internet, and hella electronic audio equipment.  Like
  so; I'm not even paying for a domain to host any of this.  I don't have the money to pay for streaming
  services like Tidal, or Spotify; I'm sure as hell not paying for Serato just for stems and the ability
  to loop more than 4 bars.
  </p>

  <p>So I use yt-dlp running under a custom shell wrapper to steal mp3's in bulk from Youtube onto my hard-drive
  and listen to them through Mixxx and on my flip phone when I'm out walking around town.  Through exposure to
  Mixxx, I learned about Icecast and IP Radio as a thing.  One thing led to another and I ended up splurging for
  a beginner DJ controller to compliment my suite of peripherals; and it has now inspired me to get back into
  running the home lab, only this time I have a lot more cool things to show off totally unrelated to the
  computer.
  </p>

{% endblock %}

