{% extends "base.html" %}
{% block header %}
  <h1>Site Events Calendar</h1>
  <p>So you don't miss me when I'm actually here.</p>
{% endblock %}

{% block content %}
  <iframe src="https://calendar.google.com/calendar/embed?height=1000&wkst=1&ctz=America%2FNew_York&showPrint=0&showTabs=0&showCalendars=0&src=ZTBkNDRjNjhiMTZmNWQ0YTgwZTg3NzRmYTAwMTc2MmNjYjg3YWJmZTk2NTIzZDcxZTM2OTk1ZGIzM2ZhZGFmNUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23e67c73"
	  style="border:solid 1px #777" 
	  width="800" height="1000" 
	  frameborder="0" 
	  scrolling="no">
  </iframe>
{% endblock %}

