{% extends "base.html" %}
{% block header %}
  <h1>The Personal Netspace of Dixie‑Flatline.</h1>
  <p>This is where I show off my projects, and make use of my home lab.</p>
{% endblock %}

{% block content %}
<h2>Available Services</h2>
<ul>
  <li>
    <strong>IP Radio Broadcasting</strong> —
    <a href="/radio/">Listen&nbsp;now</a>
    <div>Streams frequently; be sure to check the calendar.</div>
  </li>
  <li>
    <strong>AnimeNet</strong> — [Proposal]
    <div>Not yet a thing, but I do have hella anime to disburse...</div>
  </li>
</ul>
{% endblock %}

